
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
}


/* Navigation Section */

.top-navigation {
    background-color: #fff;
    box-sizing: ;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
    
}

img.logo {
	height:70px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* Main Background */
.introduction {
    background-image: url('../images/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    display: flex;
}

.introduction > .content {
	align-self: center;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10%;
	
}

.content h1 {
	font-size: 3.125rem;
	font-weight: 300;
	margin-bottom: 0;
	
}

.content h3 {
	font-size: 1.563rem;
	font-weight: 300;
	margin-top: 1.25rem;
}

.bigbutton {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    width: 9.688rem;
    font-size: 1.125rem;
}

.bigbutton:hover {
	background-color: #d9400e;
    cursor: pointer;
}
/*nav {
	width:100%;
	height: 100px;
	background-color: white;
	margin: 0 25%;
}

#logo {
	display: inline;
	float: left;
	}

#mainnav {
	display: flex;
	
	list-style: none;
	height: 100%;
}

#mainnav li {
	align-self: center;
	padding: 0;
	margin: 0;
}
*/
